/* Set the margin of the body element to 0 */
body {
    margin: 0;
}

/* Styles for the container element */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1563514227147-6d2ff665a6a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
    text-align: center;
    transition: filter 0.7s;
}

/* Styles for the h1 element */
h1 {
    font-size: 60px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Styles for the btn element */
.btn {
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* Styles for the btn element on hover */
.btn:hover {
    filter: brightness(0.8);
}

/* Styles for the active container element */
.active.container {
    filter: blur(5px) brightness(0.7);
}

/* Styles for the popup-container element */
.popup-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 400px;
    height: 200px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
}

/* Styles for the h4 element */
h4 {
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: red;
}

/* Styles for the label element */
label {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

/* Styles for the popup-btn element */
.popup-btn {
    background-color: orangered;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}

/* Styles for the input elements */
.input {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

/* Styles for the placeholder text in the input elements */
.input::placeholder {
    color: lightgrey;
}

/* Styles for the close-icon element */
.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

/* Styles for the close-icon element on hover */
.close-icon:hover {
    color: orangered;
}

/* Styles for the active popup-container element */
.active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}
