/* Remove the bullets, margin and padding */
body {
    background-color: white;
    margin-left: 50px;
}
/* Changing the h2 color and underline*/
h2 {
    color: red;
    text-decoration-line: underline;
}
/*
Removing bullets, padding and margin.
Creating a background colour.
Regulating the width of the box container
Creating some left space form thw margin
*/
.vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 200px;
    margin-left: 239px;
}

.vertical li a {
    display: block; /* Creating a display block*/
    text-align: center; /*Placing the text to the center*/
    text-decoration-line: none; /*Removing the underline*/
    color: white; /*Giving the texts colour*/
}
.vertical li a:hover {
    background-color: #04AA6D; /*giving the hovering a colour*/
    color: white; /*colour of text during hovering*/
}
.vertical li {
    text-align: center;
    margin: 8px 0; 
    
}
.horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
.horizontal li {
    float: left;
    padding: 0 40px;
}
.horizontal li a {
    display: block;
    text-decoration-line: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}
.horizontal li a:hover {
    color: white;
    background-color: #04AA6D;
}
.active {
    background-color: #04AA6D;
}
iframe {
    height: 540px; 
    width:720px;
}
